@model IEnumerable< crud3.Models.User>
<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
<div>
  <a asp-action="Create">Create</a>
  <table>
    <thead>
    <th>
      @Html.DisplayNameFor(user => user.Id)
    </th>
    <th>
      @Html.DisplayNameFor(user => user.Name)
    </th>
    <th>
      @Html.DisplayNameFor(user => user.Email)
    </th>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => user.Id)</td>
        <td>@Html.DisplayFor(modelItem => user.Name)</td>
        <td>@Html.DisplayFor(modelItem => user.Email)</td>
        <td><a asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
        <td><a asp-action="Details" asp-route-id="@user.Id">Details</a></td>
        <td><a asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>
</body>
</html>